<!DOCTYPE html>
<html lang="ru">
  <% include ../_head %>
  <body class="deep">
    <div id="wrapper" class="page">
      <header class="header">
        <% include ../_header %>
      </header>
      <section class="content">
        <div class="container">
          <div class="row align-items-end justify-content-center py-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
              <h1 class="content__title">Вы&nbsp;успешно записались на&nbsp;тренинг по&nbsp;продажам от&nbsp;Вадима Салманова</h1>
              <p class="content__descr">Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время!</p>
              <!--                    <a href="" class="btn"> </a>-->
            </div>
            <div class="col-12 col-md-10 col-lg-7"><img src="/images/base/contact.jpg" alt=""></div>
          </div>
        </div>
      </section>
      <% include ../_footer %>
    </div>
    <% include ../_scripts %>
  </body>
</html>