<footer class="footer">
  <div class="container">
    <div class="row align-items-md-center justify-content-center">
      <div class="col-12 col-md-4 col-xl-3 text-center text-md-left order-1">
        <p>
          <nobr>+7(916)559-77-47</nobr>
        </p>
        <p>
          <nobr>+7(495)997-50-88</nobr>
        </p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 text-center order-3 order-md-2">
        <p><a href="/privacy/" target="_blank">Политика конфиденциальности</a></p>
        <p class="coach">Сайт создан и продвигается в <a href="http://icoach.io">iCoach.io</a></p>
      </div>
      <div class="col-12 col-md-4 col-xl-3 text-center text-md-right order-2 order-md-3">
        <p>vadim.salmanov@yandex.ru</p>
      </div>
    </div>
  </div>
</footer>