<div class="top">
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col col-lg-10"><span class="descr"><strong>Вадим Салманов</strong>&nbsp;&mdash; бизнес-тренер по&nbsp;переговорам, продажам и&nbsp;бизнес-аргументации, владелец консалтингового агентства продаж и&nbsp;маркетинга</span></div>
    </div>
  </div>
</div>
