<% if (env === 'dev') { path = 'dist/' } else { path = '' } %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1260">
  <meta name="keywords" content="" />
  <meta name="description" content="бизнес-тренер по&nbsp;переговорам, продажам и&nbsp;бизнес-аргументации, владелец консалтингового агентства продаж и&nbsp;маркетинга" />
  <meta name="author" content="Вадим Салманов">

  <meta property="og:locale" content="ru_RU" />
  <meta property="og:title" content="Записаться на&nbsp;тест-драйв" />
  <meta property="og:url" content="http://vadimsalmanov.icoach.io/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%- path %>images/icon/social_photo.jpg" />

  <meta property="og:description" content="бизнес-тренер по&nbsp;переговорам, продажам и&nbsp;бизнес-аргументации, владелец консалтингового агентства продаж и&nbsp;маркетинга" />

  <link rel="image_src" href="<%- path %>images/icon/social_photo.jpg?2019020314191549174780" />
  <link rel="icon" type="image/x-icon" href="<%- path %>images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="<%- path %>images/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="<%- path %>images/favicon.ico" />
  <link rel="apple-touch-icon" sizes="120x120" href="<%- path %>images/apple-touch-icon-120x120.png">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Записаться на&nbsp;тест-драйв</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

  <link rel="stylesheet" type="text/css" href="<% if (env === 'dev') { %>dist/<% } %>main.min.css">

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '2323655987652869');
  fbq('track', "PageView");

  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2323655987652869&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89298735-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-89298735-13');
  </script>
</head>
