<style type="text/css">
.author .author__content .col.author__pic {
background: #f7f9fb url("/images/photo.jpg") center top no-repeat;
-webkit-background-size: cover;
background-size: cover;
}
.author .author__content .author2 .col.author__pic {
background: #f7f9fb url("/images/photo2.jpg") center top no-repeat;
-webkit-background-size: cover;
background-size: cover;
}
</style>
<section class="sec author even">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title">Вадим Салманов</h2>
        <p class="sec__descr">Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик</p>
      </div>
    </div>
    <div class="author__content">
      <div class="row no-gutters justify-content-center">
        <div class="col col-xl-auto author__pic">Вадим Салманов</div>
        <div class="col col-xl-auto">
          <ul class="author__list iconed">
            <li>
              <p>Эксперт по&nbsp;продажам, диагностике отделов продаж, аудиту персонала, созданию корпоративных стандартов и&nbsp;книг продаж</p>
            </li>
            <li>
              <p>Автор книги &laquo;Бизнес аргументация. Продавай без возражений&raquo; </p>
            </li>
            <li>
              <p>Основатель проекта &laquo;salmanov.group&raquo;: построение отделов продаж</p>
            </li>
            <li>
              <p>Более 26&nbsp;лет занимает руководящие позиции в&nbsp;сфере продаж и&nbsp;маркетинга крупных компаний (производство и&nbsp;продажи стекла, продуктов питания, стройматериалов, спецодежды), в&nbsp;том числе управление торговыми домами при производственных предприятиях</p>
            </li>
            <li>
              <p>Имеет огромный опыт запуска старт-ап проектов, управление филиальными сетями</p>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row no-gutters justify-content-center author2">
        <div class="col col-xl-auto author__pic">Вадим Салманов</div>
        <div class="col col-xl-auto">
          <ul class="author__list iconed">
            <li>
              <p>Успешное антикризисное управление производством и&nbsp;продажами</p>
            </li>
            <li>
              <p>Отличное знание специфики всех регионов России, стран СНГ и&nbsp;их&nbsp;ключевых игроков</p>
            </li>
            <li>
              <p>На&nbsp;управленческом счету такие проекты, как ООО &laquo;Саратовстекло&raquo; (заместитель директора по&nbsp;продажам), ООО &laquo;ТЗК&raquo; Сарстекло&quot; (директор), ГК&nbsp;&laquo;Восток-сервис&raquo; г. Москва (заместитель начальника регионального управления)</p>
            </li>
            <li>
              <p>На&nbsp;данный момент занимается консалтинговой деятельностью, консультируя крупнейшие предприятия России</p>
            </li>
            <li>
              <p>Программы тренингов: &laquo;Секреты чемпионов продаж&raquo;, &laquo;Эффективные переговоры. Техники влияния&raquo;</p>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section class="sec diplomas odd">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10">
        <h2 class="sec__title">Отзывы</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="diplomas_list-2"> <!--если меньше 3-х diplomas_list -->
        <div class="diplomas_item">
          <a class="link-img" href="/images/license/01.jpg"><img src="/images/license/01.jpg" alt=""></a>
        </div>
        <div class="diplomas_item">
          <a class="link-img" href="/images/license/02.jpg"><img src="/images/license/02.jpg" alt=""></a>
        </div>
        <div class="diplomas_item">
          <a class="link-img" href="/images/license/03.jpg"><img src="/images/license/03.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>