<!DOCTYPE html>
<html lang="ru">
  <% include _head %>
  <body class="deep">
    <div id="wrapper">
      <header class="header large">
        <% include _header %>
        
        <div class="utp">
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col col-lg-6 col-xl-5 offset-xl-1 text-center text-lg-left">
                <h1 class="utp__title">Перестань заниматься одиночными сделками&nbsp;&mdash; <em>настрой стабильный поток продаж</em></h1>
                <p class="utp__descr">Попробуй бесплатный тест-драйв корпоративного тренинга по&nbsp;продажам от&nbsp;Вадима Салманова и&nbsp;узнай, какие ошибки в&nbsp;стратегии мешают тебе поднять продажи на&nbsp;новый уровень</p>
                <button type="button" class="btn" data-toggle="modal" data-target="#modal">Записаться на&nbsp;тест-драйв</button>
              </div>
              <div class="col-lg-6">
                <div class="embed-responsive embed-responsive-my">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v6MK2iqdNKE?rel=0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="bullets">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-10 offset-xl-1">
                <ul class="bullets__list">
                  <li>Повысь эффективность менеджеров, ответственных за&nbsp;продажи</li>
                  <li>Получи готовые скрипты и&nbsp;шаблоны для продажников, а&nbsp;также инструменты для управления отделом</li>
                  <li>Получи мощную команду топ-менеджеров</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>
      <section class="sec problems" id="problems">
        <div class="container">
          <div class="row">
            <div class="col offset-xl-1 col-xl-10">
              <h2 class="sec__title ">Не&nbsp;знаешь, как настроить продажи так, чтобы они работали без тебя?</h2>
              <p class="sec__descr ">Твой бизнес весьма хорош, но&nbsp;для настоящего стабильного роста чего-то не&nbsp;хватает</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8 offset-xl-1 ">
              <ul class="problems__list">
                <li><i class="i-problems"></i><span>Продажи не&nbsp;радуют и&nbsp;ты&nbsp;не&nbsp;знаешь, как это исправить</span></li>
                <li><i class="i-problems"></i><span>Твой продукт хорош, но&nbsp;клиенты почему-то в&nbsp;нём не&nbsp;заинтересованы</span></li>
                <li><i class="i-problems"></i><span>У&nbsp;тебя нет качественных рабочих методик и&nbsp;инструментов для продаж, и&nbsp;ты&nbsp;не&nbsp;знаешь, откуда их&nbsp;взять</span></li>
                <li><i class="i-problems"></i><span>Тебе хотелось&nbsp;бы расширить бизнес и&nbsp;делегировать полномочия, но&nbsp;пока никаких возможностей нет</span></li>
                <li><i class="i-problems"></i><span>Ты&nbsp;развивал своё дело, но&nbsp;уперся в&nbsp;стеклянный потолок и&nbsp;не&nbsp;знаешь, как двигаться дальше</span></li>
                <li><i class="i-problems"></i><span>Ты&nbsp;не&nbsp;можешь в&nbsp;одиночку контролировать работу всех своих сотрудников и&nbsp;не&nbsp;уверен в&nbsp;компетенции тех, кто этим занимается</span></li>
                <li><i class="i-problems"></i><span>Ты&nbsp;не&nbsp;умеешь общаться с&nbsp;партнерами, убеждать их&nbsp;и&nbsp;договариваться о&nbsp;выгодных для тебя условиях</span></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="problems__pic"><img src="/images/template/target/business/problems.png" alt=""></div>
        
      </section>
      <section class="sec solutions">
        <div class="container">
          <div class="row">
            <div class="col offset-xl-1 col-xl-10 text-lg-right ">
              <h2 class="sec__title ">Открой новые двери для своего бизнеса</h2>
              <p class="sec__descr ">На&nbsp;тест-драйве ты&nbsp;узнаешь, как использовать методики увеличения продаж для расширения своего бизнеса</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 offset-lg-3 col-xl-8 ">
              <ul class="solutions__list">
                <li><i class="i-solutions"></i><span>Построишь принципиально новую модель работы с&nbsp;ключевыми (особо крупными) клиентами, основанную на&nbsp;создании добавленной ценности</span></li>
                <li><i class="i-solutions"></i><span>Построишь стабильный мотивированный отдел без текучки и&nbsp;прокрастинации</span></li>
                <li><i class="i-solutions"></i><span>Получишь готовые инструменты для дальнейшей работы отдела</span></li>
                <li><i class="i-solutions"></i><span>Сможешь зарабатывать больше конкурентов и&nbsp;научитесь методам продажи без скидок</span></li>
                <li><i class="i-solutions"></i><span>Получишь как техники активного поиска клиентов, так и&nbsp;способы обработки текущих и&nbsp;возвращения старых клиентов с&nbsp;максимальной конверсией</span></li>
                <li><i class="i-solutions"></i><span>Сможешь добиться увеличения средней суммы чека за&nbsp;счет продажи дополнительных товаров и&nbsp;услуг</span></li>
                <li><i class="i-solutions"></i><span>Узнаешь, как закрывать клиентов, которые говорят &laquo;я&nbsp;подумаю&raquo;, &laquo;давайте не&nbsp;сейчас&raquo;</span></li>
                <li><i class="i-solutions"></i><span>Научишься отвечать на&nbsp;любые возражения клиентов</span></li>
                <li><i class="i-solutions"></i><span>Гарантированный минимальный рост продаж после полного тренинга&nbsp;&mdash; 23%, средний&nbsp;&mdash; 42%</span></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="solutions__pic"><img src="/images/template/target/business/solutions.jpg" alt=""></div>
        
      </section>
      <% include author %>
      <section class="sec calltoact">
        <div class="container">
          <div class="row">
            <div class="col offset-xl-1 col-xl-10 text-center">
              <h2 class="sec__title">Сделайте шаг навстречу стабильному и&nbsp;прибыльному отделу продаж!</h2>
              <p class="sec__descr"></p>
              <button type="button" class="btn" data-toggle="modal" data-target="#modal">Записаться на&nbsp;тест-драйв</button>
            </div>
          </div>
        </div>
      </section>
      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Записаться на&nbsp;тест-драйв</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="http://bot.nickvorobiov.com/order.php" data-toggle="validator">
                <input type="hidden" name="trello-list-id" id="input-trello-list-id" value="5c5ba105019dd80b6f5ffd60" />
                <input type="hidden" name="redirect" id="input-redirect" value="http://vadimsalmanov.icoach.io/ok/" />
                <input type="hidden" name="offer" id="input-offer" value="Вадим Салманов - бесплатный МК" />
                <input type="hidden" name="traffic_source" />
                <input type="hidden" name="roistat" />
                <div class="help-block with-errors"></div>
                <div class="form-group">
                  <label for="input-name" class="control-label">Имя</label>
                  <input id="input-name" required="required" name="name" type="text" class="form-control" placeholder="Иван Иванов">
                  <div class="help-block with-errors"></div>
                </div>
                <!--
                <div class="form-group">
                  <label for="input-email" class="control-label">Электронная почта</label>
                  <input id="input-email" required="required" name="email" type="text" class="form-control" placeholder="ivan@ivanov.com">
                  <div class="help-block with-errors"></div>
                </div>
                -->
                <div class="form-group">
                  <label for="input-phone" class="control-label">Телефон</label>
                  <input id="input-phone" required="required" name="phone" type="text" class="form-control" placeholder="+7 (921) 765-43-21">
                  <div class="help-block with-errors"></div>
                </div>
                <button type="submit" class="modal_btn">Записаться</button>
                <label class="agreement_label">
                  <input name="privacy" checked="checked" id="confirm-agreement" type="checkbox" required="required" >
                  Принимаю <a href="/privacy/" target="_blank">условия</a> обработки персональных данных
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% include _footer %>
    </div>
    <% include _scripts %>
  </body>
</html>